* {
  padding: 0;
  margin: 0;
  border: 0;
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey700: hsl(0, 0%, 20%);
  --grey800: hsl(0, 0%, 12%);
  --grey900: hsl(0, 0%, 8%);
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--grey900);
}

.card {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: min-content;
  height: min-content;
  background-color: var(--grey800);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.profile-pic {
  width: 88px;
  height: 88px;
  margin-bottom: 12px;
  border-radius: 50px;
}

.name {
  margin-top: 12px;
  margin-bottom: 12px;
  color: var(--white);
  font-size: 24px;
  font-weight: 600;
  font-family: "Inter";
  line-height: 150%;
  letter-spacing: 0;
}

.location {
  margin-top: 12px;
  margin-bottom: 12px;
  color: var(--green);
  font-size: 14px;
  font-weight: 700;
  font-family: "Inter";
  line-height: 150%;
  letter-spacing: 0;
}

.bio {
  margin-top: 12px;
  margin-bottom: 12px;
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter";
  line-height: 150%;
  letter-spacing: 0;
}

.links {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.button {
  width: 304px;
  padding: 12px;
  color: var(--white);
  border-radius: 8px;
  background-color: var(--grey700);
  font-size: 14px;
  font-weight: 700;
  font-family: "Inter";
  text-align: center;
  text-decoration: none;
  line-height: 150%;
  letter-spacing: 0;
}

.button:hover {
  background-color: var(--green);
  color: var(--grey700);
}

@media (width<=768) {
  .card {
    padding: 8px;
    width: 280px;
  }
  .button {
    width: 229px;
  }
}
